/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Oswald');

$playfair-ff: 'Playfair', serif;
$oswald-ff: 'Oswald', sans-serif;
$roboto-ff: 'Roboto', sans-serif;

$header-font: $oswald-ff;
$paragraph-font: $roboto-ff;

/* COLOR THEME */
$site-white: #f4f4f4;
$site-black: #252525;
$site-red: rgb(245, 102, 102);
$site-blue: rgb(36, 138, 255);

$sidenav-width: 250px;

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;

    body {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $header-font, 'Segoe UI', sans-serif;
            color: $site-black;
        }
        li,
        p,
        div
        {
            font-family: $paragraph-font, 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
            color: $site-black;
        }
    }

}

a {
    text-decoration: none;
    color: inherit;
}