{% load compile_static %}
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | MBHS</title>

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
            crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'figures/styles/jqvmap.css'%}">
        <link type="text/css" rel="stylesheet" href="{% static 'figures/styles/styles.scss'|compile %}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <script>AOS.init()</script>
        {% include "figures/includes/sidenav.html" %}

        <main id='main' class="main">
            {% block content %}
            {% endblock %}
        </main>
        
        {% include 'figures/includes/footer.html' %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>
