{% extends "figures/base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
<section class="contact-section">
    <h1 class="text-center p-t-xl p-b-md">Contact Us</h1>
    <h6 class="text-center p-l-md p-r-md">let us know what you think!</h6>
    <ul class="contact-flex m-l-md m-r-md">
        <li class="twitter">
            <a href="https://twitter.com/ORACLE_of_Blair?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
            <p class="text-center">Tweet us <br><i>@ORACLE_of_Blair</i></p>
        </li>
        <li class="address">
            <i class="fas fa-map-marker-alt"></i>
            <p class="text-center"><i>51 University Boulevard East <br>
                <span>Silver Spring, Maryland 20901-2451</span></i></p>
        </li>
        <li class="email">
            <a href="mailto:mbhs.polistat@gmail.com"><i class="fas fa-envelope"></i></a>
            <p class="text-center">Email us at <br><i>mbhs.polistat@gmail.com</i></p>
        </li>
    </ul>
</section>
{% endblock  %}