{% extends "figures/base.html" %}
{% load percentage %}


{% block title %}
    {{ district.short_name }}
{% endblock  %}

{% block content %}
    <section class="section container district-section">
        <h1 class="">
            {{ district.short_name}}
            <span class="district-full {% if latest_prediction.dem_perc > latest_prediction.rep_perc %}
                                            color-dem
                                        {% else %}
                                            color-rep
                                        {% endif %}">
                {{ district.long_name }}
            </span>
        </h1>
        <hr class="m-t-md m-b-md">
        <div class="prediction-grid m-t-md m-b-md">
            <h1 class="table-header">Candidate</h1>
            <h1 class="table-header">Predicted Vote %</h1>
            <h1 class="table-header">Predicted Win %</h1>
            {% if latest_prediction.rep_win_percent > latest_prediction.dem_win_percent %}
                <h3 class="candidate color-rep">{{ district.rep_nom }}</h3>
                <p class="vote-percent">{{ latest_prediction.rep_perc|percentage }}</p>
                <p class="win-percent">{{ latest_prediction.rep_win_percent|percentage }}</p>
                <h3 class="candidate color-dem">{{ district.dem_nom }}</h3>
                <p class="vote-percent">{{ latest_prediction.dem_perc|percentage }}</p>
                <p class="win-percent">{{ latest_prediction.dem_win_percent|percentage }}</p>
            {% else %}
                <h3 class="candidate color-dem">{{ district.dem_nom }}</h3>
                <p class="vote-percent">{{ latest_prediction.dem_perc|percentage }}</p>
                <p class="win-percent">{{ latest_prediction.dem_win_percent|percentage }}</p>
                <h3 class="candidate color-rep">{{ district.rep_nom }}</h3>
                <p class="vote-percent">{{ latest_prediction.rep_perc|percentage }}</p>
                <p class="win-percent">{{ latest_prediction.rep_win_percent|percentage }}</p>
            {% endif %}
        </div>
        <div class="bpi-wrapper m-b-md">
            <h1 class="bpi">
                BPI
                <i class="fas fa-question-circle">
                    <span class="p-t-sm p-b-sm bpi-tooltip">
                        <h4>Blair Partisan Index</h4>
                        <hr class="m-xs">
                        <p>
                            Measures how strongly a district
                            leans toward the Democratic or
                            Republican Party compared to the 
                            nation as a whole.
                        </p>
                    </span> 
                </i>
                &nbsp;
            </h1>
            <h1 class="bpi-measure"> {{ district.bpi|percentage }}</h1>
        </div>
        <div class="bpi-wrapper m-b-md">
            <h1 class="bpi">
                Fundamental-Only Prediction
                <i class="fas fa-question-circle">
                    <span class="p-t-sm p-b-sm bpi-tooltip">
                        <h4>District Fundamental Prediction</h4>
                        <hr class="m-xs">
                        <p>
                            Forecasted Democratic % of vote,
                            without considering national mood or polling.
                        </p>
                    </span>
                </i>
                &nbsp;
            </h1>
            <h1 class="bpi-measure"> {{ district.fundamental|percentage }}</h1>
        </div>
    </section>
    <section class="container district-profile-section">
        <h1>
            District Profile
            <span>Last Updated: {{ district_profile.modified }}</span>
        </h1>
        <div>
            {{ district_profile.profile|safe }}
        </div>
        <hr class="m-b-md m-t-md">
    </section>
    <section class="section container district-posts-section">
        <h1>
            District Updates and Posts
        </h1>
    </section>
{% endblock  %}
