{% extends "figures/base.html" %}
{% load percentage %}


{% block title %}
    {{ district.short_name }}
{% endblock  %}

{% block content %}
    <section class="section container district-section">
        <h1 class="">
            {{ district.short_name}}
            <span class="district-full {% if latest_prediction.dem_perc > latest_prediction.rep_perc %}
                                            color-dem
                                        {% else %}
                                            color-rep
                                        {% endif %}">
                {{ district.long_name }}
            </span>
        </h1>
        <hr class="m-t-md m-b-md">
        <div class="bpi-wrapper">
            <h1 class="bpi">
                BPI
                <i class="fas fa-question-circle">
                    <span class="p-t-sm p-b-sm bpi-tooltip">
                        x
                    </span> 
                </i>
            </h1>
            <h1 class="bpi-measure">30%</h1>
        </div>
        <div class="prediction-grid m-b-lg">
            <h1 class="table-header">Candidate</h1>
            <h1 class="table-header">Predicted Vote %</h1>
            <h1 class="table-header">Predicted Win %</h1>
            {% if latest_prediction.rep_perc > latest_prediction.dem_perc %}
                <h3 class="candidate color-rep">{{ district.rep_nom }}</h3>
                <p class="vote-percent">filler</p>
                <p class="win-percent">{{ latest_prediction.rep_perc }}</p>
                <h3 class="candidate color-dem">{{ district.dem_nom }}</h3>
                <p class="vote-percent">filler</p>
                <p class="win-percent">{{ latest_prediction.dem_perc }}</p>
            {% else %}
                <h3 class="candidate color-dem">{{ district.dem_nom }}</h3>
                <p class="vote-percent">filler</p>
                <p class="win-percent">{{ latest_prediction.dem_perc|percentage }}</p>
                <h3 class="candidate color-rep">{{ district.rep_nom }}</h3>
                <p class="vote-percent">filler</p>
                <p class="win-percent">{{ latest_prediction.rep_perc|percentage }}</p>
            {% endif %}

        </div>
    </section>
    <section class="container district-profile-section">
        <h1>
            District Profile
            <span>Last Updated: {{ district_profile.modified }}</span>
        </h1>
        <div>
            {{ district_profile.profile|safe }}
        </div>
        <hr class="m-b-md m-t-md">
    </section>
    <section class="section container district-posts-section">
        <h1>
            District Updates and Posts
        </h1>
    </section>
{% endblock  %}