{% extends "figures/base.html" %}
{% load static %}

{% block title %}Index Title{% endblock  %}

{% block content %}
    <section class="section welcome-section">
        <h1 class="mbhs">Montgomery Blair High School's</h1>
        <h1 class="bold">2018 House</h1>
        <h1 class="bold">Election Forecast</h1>
        <a href="#prediction-section"
           class="scroll-btn">
            <i class="fas fa-chevron-circle-down"></i>
        </a>
    </section>
    <section id="prediction-section"
             class="container prediction-section">
        <h1 data-aos="fade-up"
            class="m-t-lg p-b-md text-center">Current Prediction</h1>
    </section>
    <section class="container index-blog-section">
        <h1 data-aos="fade-up"
            class="text-center">Blog</h1>
    </section>
{% endblock %}

{% block scripts %}
<script defer src="{% static 'figures/scripts/scroll.js' %}"></script>
{% endblock  %}
