{% extends "figures/base.html" %}
{% load static %}

{% block title %}TEST{% endblock %}

{% block content %}
<section class="section landing-wrapper">
    <div class="landing">
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
        <div class="block"></div>
    </div>
</section>
{% endblock  %}