{% extends "figures/base.html" %}

{% block title %}{{ state.name }}{% endblock  %}

{% block content %}
    <section class="section container state-section">
        <h1 class="p-b-md">{{ state.name }} Districts</h1>
        <ul class="district-card-list">
            {% for district in district_list %}
                <a class="m-md district-card"
                   href="{% url 'figures:district' state.name district.no %}">
                    <h1 class="p-md text-center">
                        {{ district.short_name }}
                    </h1>
                    <div class="p-md">
                        Predicted Vote Share: <br>
                        {{ district.dem_nom }} (D) | 0% <br>
                        {{ district.rep_nom }} (R) | 0% <br>
                    </div>
                </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
