{% extends "figures/base.html" %}

{% block title %}{{ state.name }}{% endblock  %}

{% block content %}
    <section class="section container state-section">
        <h1 class="p-b-md">{{ state.name }} Districts</h1>
        <ul class="district-card-list">
            {% for district in district_list %}
                <a class="m-md district-card"
                   href="{% url 'figures:district' state.name district.no %}">
                    <li>
                        <h1 class="p-md text-center">
                            District {{ district.no }}
                        </h1>
                        <p class="p-md">
                            {{ district.districtprofile.get_profile_lead }}
                        </p>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}