{% load el_pagination_tags %}

{% paginate 5 blog_list %}
{% for blog in blog_list %}
    <div data-aos='fade-up'
         class="m-t-md p-md blog">
        <h1 class="blog-title">
            <a href="{% url 'figures:blog' blog.pk blog.slug %}">{{ blog.title }}</a>
        </h1>
        <h6 class="m-b-sm blog-author">
            {{ blog.author }} |
            <span>Posted: {{ blog.date }}</span> |
            <span>Last Updated: {{ blog.modified }}</span>
        </h6>
        <div class="blog-content">
            {{ blog.get_lead }}
        </div>
    </div>
{% endfor %}
<div data-aos="fade-up">
    {% show_more %}
</div>
