{% load static %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'figures/styles/jqvmap.css'%}">

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{% static 'figures/scripts/jquery.vmap.js' %}"></script>
<script type="text/javascript" src="{% static 'figures/scripts/vmapcartogram.js' %}" charset="utf-8"></script>

<script>
  jQuery(document).ready(function () {
    jQuery('#vmap').vectorMap({
      map: 'cart_en',
      enableZoom: true,
      showTooltip: true,
      selectedColor: null,
      hoverColor: '#639',
      backgroundColor: '#ffffff00',
      borderWidth: 0.05,
      onRegionClick: function(event, code, region){
        window.location.href = "/district/"+code;
      }
    });
    var paths = document.getElementById('vmap').getElementsByTagName('g')[0];
    
    var createPath = function(d, id) {
    	var path = document.createElementNS('http://www.w3.org/2000/svg','path');
	    path.setAttributeNS(null, 'd', d);
	    path.setAttributeNS(null, 'stroke', '#000000');
	    path.setAttributeNS(null, "stroke-width", 0.1);
	    path.setAttributeNS(null, "stroke-linecap", 'round');
	    path.setAttributeNS(null, "stroke-linejoin", 'round');
	    path.setAttributeNS(null, "fill-opacity", 0);
	    path.setAttribute('id', id);
	    path.style["pointer-events"] = 'none';
	    return path;
    }
    
    var pathdata = {
    	'me': "M 40.5 0.5 l 1 0 l 0 2 l -1 0 z",
    	'nh': "M 38.5 1.5 l 2 0 l 0 1 l -2 0 z",
    	'vt': "M 37.5 1.5 l 1 0 l 0 1 l -1 0 z",
    	'ma': "M 37.5 2.5 l 4 0 l 0 2 l 1 0 l 0 1 l -3 0 l 0 -2 l -2 0 z",
    	'ri': "M 38.5 3.5 l 1 0 l 0 2 l -1 0 z",
    	'ct': "M 36.5 3.5 l 2 0 l 0 2 l -1 0 l 0 1 l -1 0 z",
    	'ny': "M 32.5 3.5 l 1 0 l 0 -1 l 3 0 l 0 -1 l 1 0 l 0 2 l -1 0 l 0 4 l 1 0 l 0 1 l 4 0 l 0 2 l -5 0 l 0 1 l -1 0 l 0 -7 l -3 0 z",
    	'nj': "M 33.5 4.5 l 2 0 l 0 6 l -2 0 z",
    	'pa': "M 28.5 7.5 l 4 0 l 0 -3 l 1 0 l 0 6 l -5 0 z",
    	'de': "M 32.5 10.5 l 1 0 l 0 1 l -1 0 z",
    	'md': "M 28.5 10.5 l 4 0 l 0 1 l 1 0 l 0 1 l -2 0 l 0 1 l -1 0 l 0 -2 l -2 0 z",
    	'va': "M 28.5 11.5 l 2 0 l 0 2 l 1 0 l 0 -1 l 2 0 l 0 2 l -5 0 z",
    	'nc': "M 28.5 14.5 l 5 0 l 0 2 l -1 0 l 0 1 l -3 0 l 0 -1 l -1 0 z",
    	'sc': "M 29.5 17.5 l 3 0 l 0 1 l -1 0 l 0 2 l -2 0 z",
    	'ga': "M 26.5 15.5 l 2 0 l 0 1 l 1 0 l 0 4 l -3 0 z",
    	'fl': "M 26.5 20.5 l 5 0 l 0 1 l 1 0 l 0 7 l -2 0 l 0 -1 l -1 0 l 0 -4 l -1 0 l 0 -2 l -2 0 z",
    	'oh': "M 23.5 10.5 l 2 0 l 0 -1 l 2 0 l 0 -1 l 1 0 l 0 2 l -1 0 l 0 3 l -4 0 z",
    	'wv': "M 27.5 10.5 l 1 0 l 0 3 l -1 0 z",
    	'ky': "M 22.5 13.5 l 6 0 l 0 1 l -6 0 z",
    	'mi': "M 22.5 6.5 l 2 0 l 0 1 l 1 0 l 0 -1 l 1 0 l 0 3 l -1 0 l 0 1 l -3 0 z",
    	'in': "M 20.5 11.5 l 2 0 l 0 -1 l 1 0 l 0 3 l -1 0 l 0 1 l -2 0 z",
    	'tn': "M 20.5 14.5 l 8 0 l 0 1 l -7 0 l 0 1 l -1 0 z",
    	'al': "M 23.5 15.5 l 3 0 l 0 2 l -2 0 l 0 1 l -1 0 z",
    	'ms': "M 21.5 15.5 l 2 0 l 0 2 l -2 0 z",
    	'la': "M 19.5 16.5 l 2 0 l 0 1 l 1 0 l 0 2 l -1 0 l 0 -1 l -2 0 z",
    	'as': "M 17.5 15.5 l 3 0 l 0 1 l -1 0 l 0 1 l -1 0 l 0 -1 l -1 0 z",
    	'mo': "M 15.5 13.5 l 2 0 l 0 1 l 2 0 l 0 1 l -2 0 l 0 1 l -2 0 z",
    	'il': "M 16.5 10.5 l 2 0 l 0 -1 l 2 0 l 0 6 l -1 0 l 0 -1 l -2 0 l 0 -1 l -1 0 z",
    	'wi': "M 18.5 6.5 l 2 0 l 0 3 l -3 0 l 0 -2 l 1 0 l 0 -1",
    	'mn': "M 16.5 6.5 l 2 0 l 0 1 l -1 0 l 0 2 l 1 0 l 0 1 l -3 0 l 0 -2 l 1 0 z",
    	'ia': "M 14.5 10.5 l 2 0 l 0 2 l -2 0 z",
    	'ok': "M 12.5 11.5 l 1 0 l 0 1 l 3 0 l 0 1 l -4 0 z",
    	'tx': "M 10.5 13.5 l 1 0 l 0 -1 l 1 0 l 0 1 l 3 0 l 0 3 l 1 0 l 0 2 l -2 0 l 0 1 l -1 0 l 0 1 l -3 0 l 0 -1 l -1 0 l 0 -1 l 1 0 z",
    	'ks': "M 9.5 11.5 l 3 0 l 0 1 l -1 0 l 0 1 l -1 0 l 0 -1 l -1 0 z",
    	'ne': "M 9.5 10.5 l 3 0 l 0 1 l -3 0 z",
    	'nm': "M 9.5 15.5 l 1 0 l 0 3 l -1 0 z",
    	'az': "M 6.5 15.5 l 3 0 l 0 3 l -3 0 z",
    	'co': "M 7.5 13.5 l 1 0 l 0 -1 l 2 0 l 0 3 l -2 0 l 0 -1 l -1 0 z",
    	'ut': "M 6.5 12.5 l 1 0 l 0 2 l 1 0 l 0 1 l -2 0 z",
    	'sd': "M 8.5 11.5 l 1 0 l 0 1 l -1 0 z",
    	'nd': "M 7.5 11.5 l 1 0 l 0 1 l -1 0 z",
    	'wy': "M 7.5 12.5 l 1 0 l 0 1 l -1 0 z",
    	'mt': "M 6.5 11.5 l 1 0 l 0 1 l -1 0 z",
    	'id': "M 5.5 10.5 l 2 0 l 0 1 l -2 0 z",
    	'nv': "M 5.5 11.5 l 1 0 l 0 4 l -1 0 z",
    	'ca': "M 0.5 12.5 l 5 0 l 0 3 l 1 0 l 0 7 l -4 0 l 0 -2 l -2 0 z",
    	'or': "M 0.5 11.5 l 5 0 l 0 1 l -5 0 z",
    	'wa': "M 0.5 9.5 l 1 0 l 0 -1 l 2 0 l 0 2 l 2 0 l 0 1 l -5 0 z",
    	'ak': "M 1.5 24.5 l 1 0 l 0 1 l -1 0 z",
    	'hi': "M 5.5 24.5 l 2 0 l 0 1 l -2 0 z"
    };
    for (var k in pathdata) {
    	var path = createPath(pathdata[k], "outline-"+k);
    	paths.appendChild(path);
    }
  });
</script>


<div id="vmap" style="margin-right: auto; margin-left: auto; width: 100%; height: 500px;"></div>
<h2 align="center">Each square is one congressional district.</h2>
