{% load static %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'figures/styles/jqvmap.css'%}">

<script type="text/javascript" src="{% static 'figures/scripts/libraries/jquery.vmap.js' %}"></script>
<script type="text/javascript" src="{% static 'figures/scripts/cartogram_data.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'figures/scripts/cartogram.js' %}" charset="utf-8"></script>

<div id="vmap"></div>
<h2 align="center">Each square is one congressional district.</h2>
