{% load static %}

<footer id='footer' class="p-l-md p-r-md footer">
    <ul class="m-t-lg footer-section contact">
        <li class="m-b-md contact-header"><span>Blair</span>Voyance</li>
        <li class="contact-subheader">Stay connected</li>
        <li class="p-t-sm p-b-sm contact-email">
            <i class="fas fa-envelope"></i>
            <p>mrstein@mrstein.mrstein</p>
        </li>
        <li class="p-t-sm p-b-sm contact-phone">
            <i class="fas fa-phone"></i>
            <p>+1 (301) 123 4567</p>
        </li>
        <li class="p-t-sm p-b-sm contact-address">
            <i class="fas fa-map-marker-alt"></i>
            <p><span>51 University Blvd. E.</span> Silver Spring, Maryland 20901</p>
        </li>
    </ul>
    <ul class="m-t-lg m-b-lg footer-section about">
        <li class="about-header">About Us</li>
        <li class="m-b-sm about-text">
            Hello there. I am about text. Please ignore me
            as I have not been changed yet.
        </li>
        <li class="about-note">Please Note</li>
        <li class="about-note-text">
            Any views or opinions expressed on this site are those of 
            the students in Montgomery Blair High School's 2018 Political 
            Statistics class and do not necessarily reflect the official 
            position of Montgomery Blair High School.
        </li>
    </ul>
</footer>