{% load el_pagination_tags %}

{% paginate 5 recents_list %}
{% for recent in recents_list %}
<div class="m-t-md p-md recent">
    {% if recent.get_cname == 'blogpost' %}
        <p class="bold recent-type">Blog Post</p>
    {% else %}
        <p class="bold recent-type">District Post</p>
    {% endif %}
    <h1 class="title">
        {% if recent.get_cname == 'districtpost' %}
            <a href="{% url 'figures:district' recent.district.state.name recent.district.no %}">
                {{ recent.title }}
            </a>
        {% else %}
            <a href="{% url 'figures:blog' recent.pk recent.slug %}">
                {{ recent.title }}
            </a>
        {% endif %}
    </h1>
    <h6 class="m-b-sm recent-author">
        {{ recent.author }} |
        <span>{{ recent.date }}</span>
    </h6>
    <div class="recent-content">
        {% if recent.get_cname == 'blogpost' %}
            {{ recent.get_lead }}
        {% else %}
            {{ recent.body|safe }}
        {% endif %}
    </div>
</div>    
{% endfor %}
{% show_more %}