{% load static %}

{% load staticfiles %}

<script type="text/javascript"
        src="{% static 'figures/scripts/libraries/jquery.vmap.js' %}"></script>
<script type="text/javascript"
        src="{% static 'figures/scripts/libraries/jquery.vmap.usa.js' %}"
        charset="utf-8"></script>
<script type="text/javascript"
        src="{% static 'figures/scripts/map.js' %}"></script>


<div id="vmap""></div>
<hr class="m-t-md m-b-sm">
<h2 class="text-center">Click a state to see its congressional districts!</h2>
<hr class="m-t-sm m-b-sm">
