{% load static %}

<div class="sidenav-mobile m-t-lg m-l-xl">
    <i id="sidenav-mobile-btn" class="fas fa-bars"></i>
</div>
<nav id="sidenav-mobile-target" class="sidenav-wrapper">
    <a href="{% url 'figures:index' %}" class="logo p-lg">
        <img src={% static 'figures/images/blairlogo.jpg' %}
             onerror="this.onerror=null; this.src='django-logo-positive.png'">
    </a>
    <ul class="sidenav m-l-sm border-l">
        <li class="{% if navbar == 'index' %}active{% endif %}">
            <a class="bold" href="{% url 'figures:index' %}">home</a>
        </li>
        <li class="{% if navbar == 'cartogram' %}active{% endif %}">
            <a class="bold" href="{% url 'figures:cartogram' %}">district map</a>
        </li>
        <li class="{% if navbar == 'states' %}active{% endif %}">
            <a class="bold" href="{% url 'figures:states' %}">state map</a>
        </li>
        <li class="{% if navbar == 'blog' %}active{% endif %}">
            <a class="bold" href="{% url 'figures:blog_list' %}">blog</a>
        </li>
        <li class="{% if navbar == 'about' %}active{% endif %}">
            <a class="bold" href="{% url 'figures:about' %}">about</a>
        </li>
    </ul>
</nav>

{% block scripts %}
<script defer src={% static 'figures/scripts/sidenav.js' %}></script>
{% endblock  %}