.district-section h1:first-child {
    font-size: 5rem;
    @include mq(tablet) {
        font-size: 6rem;
    }
    .district-full {
        display: inline-block;
        font-size: 0.5em;
    }
}

.district-section .prediction-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'header header header'
        'candidate vote-percent win-percent'
        'candidate vote-percent win-percent';

    
    .table-header {
        grid-area: 'header';

        text-transform: uppercase;
        font-size: 1rem;
    }

    .candidate {
        grid-area: 'candidate';

        font-size: 1rem;
    }
}

div.bpi-wrapper {
    display: flex;
    flex-direction: row;
}

h1.bpi {
    position: relative;
    display: inline-block;
    font-size: 1.5rem !important;
    color: rgb(102, 0, 0);

    i.fas {
        font-size: 0.9rem;
        position: relative;
        display: inline-block;
    }

    & .bpi-tooltip {
        visibility: hidden;
        text-align: center;

        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        margin-top: 6px;
        margin-left: 6px;
        z-index: 1;
        border-radius: 5px;
        width: 150px;
        text-align: center;
        background-color: lighten($site-black, 0.5);
        line-height: 18px;

        & * {
            color: $site-white;
        }
    }

    & .bpi-tooltip:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }

    i.fas:hover {
        .bpi-tooltip { visibility: visible }
    }
}

h1.bpi-measure {
    display: inline-block;
    font-size: 1.5rem;
}

.district-profile-section {
    & h1:first-child {
        font-size: 2rem;
        & span {
            font-size: 0.5em; 
            display: inline-block;
        }
    }
}

.district-posts-section {
    & h1:first-child {
        font-size: 2rem;
    }
}

.district-post {
    & h1.title {
        font-size: 1.5rem;
    }
    & .district-post-author {
        font-size: 1rem;
        span { font-weight: 300; }
    }
}
