.prediction-section {
    display: grid;
    justify-items: center;

    grid-template-rows: 1em max-content 1fr;
    grid-gap: 1em;

    & > * {color: $site-white;}
}

.prediction-section h1 {
    grid-row: 2;
}

.prediction-section h1:first-child {
    grid-column: 1;
    background: $site-white;

    text-align: center;
    font-size: 2em;
    @include mq(mobile) {
        font-size: 3em;
    }

    color: $site-red;
}

.prediction-section h1:nth-child(2) {
    grid-column: 1;
    background: $site-white;

    text-align: center;
    color: blue;
}

.prediction-section h1:nth-child(3) {
    grid-column: 3;
    background: $site-white;

    text-align: center;
    color: red;
}
