.state-section h1:first-child {
    font-size: 3rem;
    @include mq(tablet) {
        font-size: 5rem;
    }
}

.district-card-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.district-card {
    display: block;
    flex: 1 0 200px;

    border-radius: 10px;

    box-shadow: -5px 3px 8px 2px rgba(0, 0, 0, 0.4);

    min-height: 100px;
    min-width: 215px;

    &:hover {
        transform: scale(1.035);
    }
    transition: transform 0.3s ease;
}

.district-card h1:first-child {
    font-size: 3rem;
    border-bottom: 2px solid black;
}

.district-card p {
    
}