.statemap-section h1:first-child {
    font-size: 3rem;
    @include mq(tablet) {
        font-size: 5rem;
    }
}

.statemap {
    display: flex;
    flex-wrap: wrap;

    & a {
        display: block;
        flex: 1 0 100px;

        border: 1px solid $site-black;

        background-color: $site-black;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: $site-red;
        }
        
        & li {
            display: block;
            height: 50px;

            text-align: center;
            color: $site-white;
        }
    }
}